/* HEADEEER ACCOUNTS2 */
.header-desktop {
  display: initial !important;
}
.header-movil {
  display: none !important;
}
header {
  width: 100%;
  height: 100vh;
}
.img-logo {
  width: 40px;
  height: 40px;
}
.header-izquierdo {
  width: 40%;
  background: rgb(51, 135, 204);
  background: linear-gradient(
    90deg,
    rgba(51, 135, 204, 1) 0%,
    rgba(64, 168, 255, 1) 35%
  );
}
.perfil {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.mje-welcome-header {
  height: 100%;
}
.btn-seeoperations {
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  background-color: #ff5652;
}
.btn-seeoperations:hover {
  background-color: #fc4441;
}
.log-out {
  background-color: white !important;
  color: #009dfb !important;
  border: #009dfb 1px solid;
}
.log-out:hover {
  background-color: #009dfb !important;
  color: white !important;
}
.banco-header {
  font-weight: 600;
  color: rgb(255, 255, 255, 0.8);
}
.header-derecho {
  width: 60%;
}
.header-derecho nav a {
  text-decoration: none;
  color: white;
  background-color: #ff8b7b;
  padding: 2px 15px;
  border-radius: 30px;
}
.header-derecho nav a:hover {
  background-color: #ff5652;
}

@media only screen and (min-width: 768px) {
  .header-desktop {
    display: flex !important;
  }
  .header-movil {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .div-sup-movil {
    background-color: #3387cc;
  }
  .header-desktop {
    display: none !important;
  }
  .header-movil {
    display: flex !important;
  }
  header {
    background-color: #009dfb;
  }
  .img-logo {
    width: 25px;
    height: 25px;
  }
  .perfil {
    width: 70px;
    height: 70px;
  }
  .btn-seeoperations {
    margin-bottom: 4rem;
  }
  .img-header-movil {
    width: 40vh;
    height: 40vh;
    background-image: url(../assets/Hello-rafiki.svg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
  }
  .menu-movil {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 2;
    border-radius: 10px 10px 0 0;
  }
  .menu-movil a {
    width: 40px;
    height: 40px;
    background-color: #ff5652;
    border-radius: 50px;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
  .menu-movil-home {
    background-image: url(../assets/home-white.png);
  }
  .menu-movil-cards {
    background-image: url(../assets/nav-card-white.png);
  }
  .menu-movil-profile {
    background-image: url(../assets/user-white.png);
  }
  .div-welcome-movil {
    height: 100%;
  }
}
/* main */
main {
  width: 100%;
}
.text-h2-main {
  margin-left: 16rem;
}

.text-success {
  color: rgb(107, 168, 110) !important;
}
.div-carta {
  width: 30rem;
  border: rgb(26, 102, 202) solid 1px;
  color: rgb(26, 102, 202);
  box-sizing: border-box;
  padding: 2rem;
  background-color: rgb(196, 211, 230) !important;
}
.a-carta {
  text-decoration: none;
  border: none;
}
.div-carta:hover {
  background-color: rgb(45, 86, 179) !important;
  border: rgb(0, 0, 0) 1px solid !important;
}
@media only screen and (max-width: 700px) {
  .card {
    padding: 2rem !important;
    margin: 1rem !important;
  }
}
/* section1 */
.what-do-you-whant {
  width: 100%;
  height: 8rem;
}
.section-1 {
  width: 100%;
  height: 60rem;
  background-color: rgb(221, 221, 221);
}
.cartas-options {
  margin-top: 5rem;
}
.img-card-section1 {
  width: 20rem;
  height: 20rem;
  padding-top: 3rem;
  background-repeat: no-repeat;
}
.img-chanchito {
  background-image: url(../assets/Piggy\ bank-amico.svg);
}
.img-coins {
  background-image: url(../assets/Coins-amico.svg);
}
.img-cards {
  background-image: url(../assets/Credit\ card-bro.svg);
  background-size: cover;
}
.bg-gray {
  background-color: rgb(187, 187, 187);
  box-shadow: 10px 5px 5px rgba(99, 99, 99, 0.5);
}
.bg-gray:hover {
  background-color: rgb(37, 41, 46);
}
.card-main-options {
  border: none;
  text-decoration: none;

  height: 25rem;
}
/* section2 */
.section-2 {
  width: 100%;
  min-height: 50rem;
}
.img-accounts {
  width: 50rem;
  height: 40rem;
}
.loans-img {
  width: 40rem;
  height: 40rem;
}
.btn-see-more {
  padding: 0.7rem;
  background-color: rgb(140, 159, 168);
}
/* section3 */

.section-3 {
  width: 100%;
  min-height: 50rem;
}
.div-section3 {
  width: 50%;
}
.section3-texto {
  width: 36rem;
  padding: 2rem 3rem;
  box-shadow: 10px 5px 10px 10px 5px rgba(99, 99, 99, 0.5);
}
.h2-loans {
  background-color: gray;
  color: white;
}
.h2-loans {
  margin-bottom: 0 !important;
}
.carta-loans {
  background-color: rgb(202, 202, 202);
  padding: 1rem 3rem 1rem 3rem;
  box-shadow: 10px 5px 5px rgba(99, 99, 99, 0.5);
}
