.img-logo {
  width: 40px;
  height: 40px;
}
.banco-header {
  font-weight: 600;
}
.div-nav {
  width: 100vw;
}
nav {
  width: 60% ;
}
nav a {
  text-decoration: none;
  color: white;
  background-color: #ff8b7b;
  padding: 2px 15px;
  border-radius: 30px;
}
nav a:hover {
  background-color: #ff5652;
}
.log-out {
  background-color: white !important;
  color: #009dfb !important;
  border: #009dfb 1px solid;
}
/*header*/
.h1-details {
  margin-top: 4rem;
}
header {
  height: 40rem !important;
}
a {
  text-decoration: none;
  color: white;
  background-color: #ff8b7b;
  padding: 2px 15px;
  border-radius: 30px;
}
.cont-img-header {
  box-sizing: border-box;
}
.img-header {
  height: 100%;
  width: 100%;
  background-image: url(../assets/wallet.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
header div {
  width: 50%;
}
header div h1 {
  font-size: 6rem !important;
}
.header-cuenta {
  background-color: rgb(223, 223, 223);
  width: 30rem;
  height: 30rem;
}
/* main */
/* section1 CUENTAS */
.bg-gray {
  background-color: gray;
}
.cont-info {
  width: 50rem;
  height: 35rem;
  background-color: #009dfb;
}
.cont-info h2 {
  color: white;
  font-size: 10rem;
}
.info {
  background-color: #79ccfc;
  border-bottom: rgb(255, 255, 255) 1px solid;
}
.info p {
  color: rgb(63, 63, 63);
  font-weight: 700;
}
#section1 {
  height: 47rem;
}
#section1 a {
  text-decoration: none;
  background-color: rgb(94, 94, 94);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
}
#section1 a:hover {
  color: #292929;
}
.balance-info {
  text-decoration: underline;
}
/* section 2 TRANSACCIONES */
#section2 {
  min-height: 47rem;
}
main {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.text-h2-main {
  margin-left: 16rem;
}
.bloque-transaccion {
  width: 70%;
  height: auto;
  border: 1px rgb(255, 255, 255) solid;
}
.caja-balance {
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: large;
  height: 3rem;
  width: 15rem;
  background-color: rgb(55, 89, 110, 0.4);
  color: rgb(21, 97, 211);
  font-weight: 500;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 700px) {
  .bloque-transaccion {
    width: 100%;
    height: 60px;
    font-size: 0.5rem !important;
  }
  .description-transac {
    margin-top: 0.4rem;
    font-size: 0.8rem !important;
    line-height: 1rem;
  }
  .montoDebito,
  .montoCredito {
    font-size: 1.4rem !important;
  }
  .img-transaction-debit,
  .img-transaction-credit {
    width: 1.5rem !important;
    height: 1.5rem !important;
    background-size: cover;
  }
}
.description-transac {
  font-size: 2rem;
  color: #3b5768;
  font-weight: 600;
  margin: 0;
}
.dateprop {
  color: #3b5768;
}
.date-transac {
  margin: 0;
  font-weight: 600;
  color: #5d717e;
}
.cajaDebito {
  background-color: rgb(199, 66, 66, 0.5);
}
.cajaDebito:hover {
  background-color: rgb(199, 66, 66, 0.7);
}
.cajaCredito {
  background-color: rgb(89, 145, 89, 0.5);
}
.cajaCredito:hover {
  background-color: rgb(89, 145, 89, 0.7);
}
.monto-tipo {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  width: 10rem;
  height: 5rem;
}
.montoDebito,
.montoCredito {
  font-size: 2.2rem;
  margin: 0;
}
.montoDebito {
  color: red;
}
.montoCredito {
  color: green;
}
.type {
  margin: 0;
  color: #009dfb;
  font-weight: 600;
}
.img-transaction-debit,
.img-transaction-credit {
  width: 3rem;
  height: 3rem;
  background-size: cover;
}
.img-transaction-debit {
  background-image: url(../assets/transfer-rojo.png);
}
.img-transaction-credit {
  background-image: url(../assets/transfer-verde.png);
}
/* NAV MOVIL */

.menu-movil {
  width: 100vw;
  height: 4.4rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 2;
  border-radius: 10px 10px 0 0;
  padding-top: 0.2rem;
}
.menu-movil a {
  width: 40px;
  height: 40px;
  background-color: #ff5652;
  border-radius: 50px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
.menu-movil-home {
  background-image: url(../assets/home-white.png);
}
.menu-movil-cards {
  background-image: url(../assets/nav-card-white.png);
}
.menu-movil-profile {
  background-image: url(../assets/user-white.png);
}
.menu-movil-transfer {
  background-image: url(../assets/accounts/icon-transfer.png);
}
.p-nav-movil {
  font-size: 1rem;
  margin: 0;
  margin-top: 0.2rem;
  line-height: 1rem;
}
.width100{
  width: 100%;
}
/* FLEX */
.nav-desktop {
  display: flex;
}
.menu-movil {
  display: none !important;
}
.div-sup-movil {
  display: none;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none !important;
  }
  .menu-movil {
    display: flex !important;
  }
  .div-sup-movil {
    display: flex;
    background-color: #3387cc;
  }
  .img-logo {
    width: 25px;
    height: 25px;
  }
  footer {
    display: none !important;
  }
  header{
    flex-direction: column;
    height: auto !important;
  }
  .cont-img-header{
    width: 100%;
    height: 80vh;
  }
  .cont-info{
    width: 100%;
  }
}
.menu-movil-logout{
  background-image: url(../assets/icons8-logout-50.png);
}